<!DOCTYPE html>
<html ng-app=''>
  <head>
     <meta charset="utf-8">
     <title>angular</title>
     <meta name="viewport" content="width=device-width,initial-scale=1.0,
     maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
     <link rel="stylesheet" type="text/css" href="static/css/reset.css">
     <script src="bower_components/angular/angular.js" charset="utf-8"></script>
 </head>
 <body ng-init="a=0;b=0">
    <input type="text" ng-model='a'>*<input type="text" ng-model='b'>=<span>{{a}}*{{b}}={{a*b}}</span>
    <div class="">
      {{a}}
    </div>
<!-- built files will be auto injected -->
 </body>
</html>
