<!DOCTYPE html>
<html ng-app='test'>
  <head>
     <meta charset="utf-8">
     <title>angular</title>
     <meta name="viewport" content="width=device-width,initial-scale=1.0,
     maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">

     <script src="js/angular1.58.js" charset="utf-8"></script>
  

     </script>
     <script >
       var app=angular.module('test',[])
       app.controller('zhangsan',function($scope,$http){
           $scope.a=''
           $scope.arr=[]
           $scope.$watch('a',function(){
             alert(1)
             $http.jsonp('https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su',{
               params:{
                 wd:$scope.a,
                 cb:'JSON_CALLBACK'
               }
             }).then(function (res) {
               console.log(res.data)
               $scope.arr=res.data.s
        console.log('链接成功！');
    })
    .catch(err => console.log(err))
           })
       })
     </script>
 </head>
 <body ng-controller='zhangsan'>
   <input type="text" ng-model='a' name="" value="">
 <ul>
   <li ng-repeat='v in arr'>{{v}}</li>
 </ul>
 </body>
</html>
