<!DOCTYPE html>
<html ng-app='test'>
  <head>
     <meta charset="utf-8">
     <title>angular</title>
     <meta name="viewport" content="width=device-width,initial-scale=1.0,
     maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
     <link rel="stylesheet" type="text/css" href="static/css/reset.css">
     <script src="bower_components/angular/angular.js" charset="utf-8"></script>
     <script >
       var app=angular.module('test',[])
       app.controller('zhangsan',function($scope,$http){
           $scope.pages={
              first:true,
              second:false,
              third:false
           }

           $scope.toggle=function(whichPage){
            //  alert(whichPage)
            //先隐藏所有页面
            Object.keys( $scope.pages).forEach(key=>{
              $scope.pages[key]=false
            })
            //再显示出选择页面
           this.pages[whichPage]=true

           }
       })
     </script>
 </head>
 <body ng-controller='zhangsan'>
       <button type="button" name="button" ng-click="toggle('first')">商品详情</button>
       <button type="button" name="button" ng-click="toggle('second')">用户评论</button>
        <button type="button" name="button" ng-click="toggle('third')">第三个页面</button>
       <div ng-bind="'商品详细信息'" ng-show='pages.first'>

       </div>
       <div ng-bind="'用户评论区'" ng-show='pages.second'>

       </div>
       <div ng-bind='"第三个页面"' ng-show='pages.third'>

       </div>
 </body>
</html>
