<!DOCTYPE html>
<html ng-app='test'>
  <head>
     <meta charset="utf-8">
     <title>angular</title>
     <meta name="viewport" content="width=device-width,initial-scale=1.0,
     maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
     <link rel="stylesheet" type="text/css" href="static/css/reset.css">
     <script src="bower_components/angular/angular.js" charset="utf-8"></script>
     <script >
       var app=angular.module('test',[])
       app.controller('zhangsan',function($scope,$http){
           $scope.colors=['red','blue','green']
           $scope.chooseColor=''
           $scope.choose=function (e) {
             this.chooseColor=e
           }
       })
     </script>
 </head>
 <body ng-controller='zhangsan'>
    <button type="button" ng-bind='colors[0]'  ng-click='choose(colors[0])'></button>
    <button type="button" ng-bind='colors[1]'  ng-click='choose(colors[1])'></button>
    <button type="button" ng-bind='colors[2]'  ng-click='choose(colors[2])'></button>
    <p>你当前选择的是{{chooseColor}}</p>
 </body>
</html>
